<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Enter your email">
        <span class="text-danger" *ngIf="loginForm?.get('email')?.hasError('required') && loginForm?.get('email')?.touched">
          Email is required
        </span>
        <span class="text-danger" *ngIf="loginForm?.get('email')?.hasError('email') && loginForm?.get('email')?.touched">
          Enter a valid email
        </span>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Enter your password">
        <span class="text-danger" *ngIf="loginForm?.get('password')?.hasError('required') && loginForm?.get('password')?.touched">
          Password is required
        </span>
      </mat-form-field>
  
      <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
      
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      
      <p>Not our member yet? <a routerLink="/register">Register</a></p>
      <button mat-button type="button" (click)="resetPassword()">Reset Password</button>
    </form>
  </div>
  