<mat-toolbar color="primary" class="toolbar">
    <span class="streamify">Streamify.</span>

   <ng-container *ngIf="isUser"> 
    
    <div class="toggle-group">
    <span class="toggle-option letter" [ngClass]="{'bold-text': selectedOption === 'movie'}" (click)="selectOption('movie')">Movie</span>
    <span class="toggle-option letter" [ngClass]="{'bold-text': selectedOption === 'tv'}" (click)="selectOption('tv')">TV Show</span>
</div>

<button mat-button [matMenuTriggerFor]="categoryMenu">Categories</button>
<mat-menu #categoryMenu="matMenu">
<mat-form-field class="example-full-width">
<mat-label>Categories</mat-label>
<mat-select [formControl]="selectedCategories" multiple>
  <mat-option *ngFor="let category of categories" [value]="category">
    {{ category }}
  </mat-option>
</mat-select>
</mat-form-field>
<button mat-menu-item (click)="resetCategories()">Reset</button>
</mat-menu>

<div class="search-container">
    <input class="search-input" placeholder="Search" />
  </div>
  


<span class="spacer"></span>
</ng-container>
<ng-container *ngIf="isAdmin"> 
    <div class="toggle-group">
        <span class="toggle-option letter" 
              [ngClass]="{'bold-text': selectedOption === 'dashboard'}" 
              (click)="selectOption('dashboard')">
              <i class='bx bxs-dashboard icon'></i><span class="menu-text">Dashboard</span>
        </span>
        <span class="toggle-option letter" 
              [ngClass]="{'bold-text': selectedOption === 'general'}" 
              (click)="selectOption('general')">
              <i class='bx bxs-cog icon'></i><span class="menu-text">General</span>
        </span>
        <span class="toggle-option letter" routerLink="/edit-content"
              [ngClass]="{'bold-text': selectedOption === 'edit-contents'}" 
              (click)="selectOption('edit-contents')">
              <i class='bx bxs-edit icon'></i><span class="menu-text">Edit Contents</span>
        </span>
        <span class="toggle-option letter" 
              [ngClass]="{'bold-text': selectedOption === 'edit-users'}" 
              (click)="selectOption('edit-users')">
              <i class='bx bxs-user-detail icon'></i><span class="menu-text">Edit Users</span>
        </span>
    </div>

    <span class="spacer"></span>
</ng-container>

<mat-menu #userMenu="matMenu">
    <button mat-menu-item>Profile</button>
    <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>
<button mat-icon-button [matMenuTriggerFor]="userMenu" class="user-button">
    <mat-icon>account_circle</mat-icon>
</button>
</mat-toolbar>

